<!DOCTYPE html>
<html>
	<head>
		<title>Barbershop AR</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/vendor/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/vendor/simplecolorpicker.css" rel="stylesheet">
		<link href="/vendor/datetimepicker.css" rel="stylesheet">
		<script src="/vendor/jquery-2.2.2.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="/vendor/simplecolorpicker.js"></script>
		<script src="/vendor/jquery.datetimepicker.full.min.js"></script>
	</head>
	<body>
		<div class="container">

			<!-- Static navbar -->
			<nav class="navbar navbar-default" role="navigation">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/">Barbershop AR</a>
			  </div>
			  <div class="navbar-collapse collapse">
			    <ul class="nav navbar-nav">
			      <li><a href="/">Home</a></li>
				  <li><a href="/visit">Visit</a></li>
				  <li><a href="/users">Users</a></li>
			    </ul>
			  </div><!--/.nav-collapse -->
			</nav>

			<div>
			      <%if @error && @error.length > 0 then %>
			          <div class="alert alert-warning"><%=@error%></div>
			      <% end %>
			      <%= yield %>
			</div>

	</div>

  </body>
</html>
